.social-login
    button.social-login--github
        sapn
            i.fab.fa-github
        |Continue with Github
    button.social-login--facebook
        sapn
            i.fab.fa-facebook
        |Continue with Facebook