extends layouts/main

block content
    .form-container
        form(action=routes.join, method='post')   
            input(type="text", name="name", placeholder="Full Name")
            input(type="email", name="email", placeholder="Email")
            input(type="passward", name="passward", placeholder="Passward")
            input(type="passward", name="passward2", placeholder="Verifiy Passward")
            input(type="submit", value="Join Now")
        include partials/socialLogin